body {
    font-family: Arial, sans-serif;
    background-color: #faf9f6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 1100px;
}
.header {
    display: flex;
    position: relative;
    background-color: #FAF9F6;
    color: #121212;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pov {
    flex: 1;
    text-align: center;
    font-size: 21px;
    max-width: 200px;
    width: auto;
    text-decoration: none;
    color: inherit;
}
.buttons {
    color: white;
    position: absolute;
    right: 0;
    align-self: center;
    margin-right: 50px;
}
.buttons button {
    background-color: transparent;
    border: 1px solid #121212;
    padding: 8px 16px;
    letter-spacing: 1px;
    color: rgb(12, 8, 8);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.botão-login {
    background-color: transparent;
    border: 1px solid #121212;
    padding: 8px 16px;
    letter-spacing: 1px;
    color: rgb(12, 8, 8);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.linha-header {
    width: 90%;           /* Limita a largura para não tocar nos cantos */
    margin: 0 auto;       /* Centraliza a linha perfeitamente */
    border: none;         /* Remove a borda padrão do navegador */
    border-top: 1px solid #EAEAEA; /* Cria a linha fina e sutil */
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #FAF9F6;
}

.carrousel {
    flex: 1;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-top: 10px;
    max-width: 100px;
    max-height: 100px;
}

.cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #E0E0E0;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    text-align: center;
    
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #FAF9F6 ;
    color: #121212;
    bottom: 0;
    width: 100%;
}

.footer {
    display: flex;
    background-color: #FAF9F6;
    text-align: center;
}

.footer-links {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.footer-text {
    flex: 1;
    color: #121212;
    text-align: center;
}

.footer-social {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

.footer-bottom {
    border-top: 1px solid #ccc;
    background-color: #121212;
    color: #FFFFFF;
    text-align: center;
}